// color variables
:root{
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-bg: hsl(0, 0%, 98%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-elements: hsl(0, 0%, 100%);
}
// Dark Variables
:root{
  --dark-mode-text: hsl(0, 0%, 100%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);
}


/* No hover effects on touch ***********************************/
@media (hover: hover) and (pointer: fine) {
  .detail-main button:hover{
    transform: translateY(-2px) scale(1.003) translateZ(0);
    transition: all 0.2s ease-in-out;
    background-color: rgb(245, 245, 245);
  }
}


.detail-main{
  .container{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 90%;
    gap: 3rem;
    button{
      display: flex;
      flex-flow: row nowrap;
      gap: .5rem;
      padding: .5rem 1.8rem;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      img{
        width: 20px;
      }
    }
  }
}
.details{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5rem;
}
.details>*{
  flex: 1 1 40%;
}

.border-countries{
  display: flex;
  flex-flow: row wrap !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 1rem;
  p{
    font-size: 1rem;
    font-weight: 600;
  }
}

.details-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  h2{
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 30px;
  }
  .info-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    div{
      flex: 1 0 50%;
    }
    .info{   
      p{
        font-size: 1rem;
        line-height: 20px;
        width: 100%;
        strong{
          font-weight: 600;
        }
      }
    }
  }
}



// Themes
.lightBG{
  background-color: var(--light-mode-bg);
}
.darkBG{
  background-color: var(--dark-mode-bg);
}
.light-theme{
  color: var(--light-mode-text);
  background-color: var(--light-mode-bg);
  header{
    background-color: var(--light-mode-elements);
  }
  form{
    background-color: var(--light-mode-elements);
  }
  .country-card{
    background-color: var(--light-mode-elements);
  }
}

.dark-theme{
  color: var(--dark-mode-text);
  background-color: var(--dark-mode-bg);
  button{
    color: var(--dark-mode-text);
    background-color: var(--dark-mode-elements);
  }
  button{
    img{
      filter: invert(100%);
    }
  }

  header{
    background-color: var(--dark-mode-elements);
  }
  form{
    background-color: var(--dark-mode-elements);
  }
  .country-card{
    background-color: var(--dark-mode-elements);
  }
  ::placeholder{
    color: var(--dark-mode-text) !important;
    }
  .search-form{
    input{
      color: var(--dark-mode-text) !important;
    }
  }
  .custom-select, .select-selected, .select-items div{
    color: var(--dark-mode-text) !important;
    background-color: var(--dark-mode-elements) !important;
  }
  .select-selected:after {
    border-color: rgb(255, 255, 255) transparent transparent transparent !important;
  }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent rgb(255, 255, 255) !important;
  }
}



// Media Queries
@media screen and (max-width: 425px) {
  .details-container{
    .info-container{
      flex-flow: column;
      gap: 2rem;
      .info{
        gap: .7rem
      }
    }
    div{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;
      height: auto;
      max-height: 50%;
      width: 100%;
      .space{
        margin-top: 2rem;
      }
    }
    .border-countries{
      p{
        width: 100%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) and (max-width: 912px) {
  .details{
    top: 10rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;
  }
  .details>*{
    flex: 0 1 100%;
  }
  }